aiohttp>=3.7.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
EZPaginator==1.3.4
Faker==8.1.4
idna==2.10
multidict==5.1.0
Pillow==8.2.0
PlexAPI==4.6.1
pycodestyle==2.7.0
python-dateutil==2.8.1
python-dotenv==0.17.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
text-unidecode==1.3
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3